local/
/static/
__pycache__/
**/__pycache__/
*.pyc
*.pyo
.git/
.gitignore
demo/
temp/
db.*
*.log
.venv/
venv/
.env
.DS_Store
docker_test/
node_modules/
package.json
package-lock.json
reader/static/src/
scripts/
