.book-tittle{
    overflow:hidden;
	text-overflow:ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	-webkit-line-clamp:3;
}

article{
    columns: calc(100vw - 32px) 1;
    column-gap: 16px;
    height: calc(100vh - 143px);
    transition: 0s;
}

.article-container{
    overflow-x: hidden;
}

/*uploadify CSS Document */
.uploadify-button{
	display:inline-block;
	margin:12px;
	border:1px solid #808080;
	background-color: #707070;
	line-height:24px;
	border-radius:12px;
	padding:0 18px;
    font-size:12px;
    font-weight: 600;
    font-family: '微软雅黑';
	color:#FFF;
	cursor:pointer;
	text-decoration:none;
}
.uploadify-button:hover{
	background-color: #888;
}
.uploadfile{
	width:0;
}
.uploadify-queue .uploadify-queue-item{
	list-style-type:none;
	margin-top:10px;
}
.uploadbtn,.delfilebtn{
	display:inline-block;
	border:1px solid #999;
	line-height:24px;
	border-radius:4px;
	padding:0 18px;
    font-size:12px;
	color:#666;
	text-decoration:none;
}
.uploadbtn{
	display: none;
}
.up_filename,.progressnum,.delfilebtn,.uploadbtn,.up_percent{
	font-size:12px;
	color:#666;
	margin-left:10px;
}
.uploadify-progress{
	 display:inline-block;
	 width:600px;
	 height:10px;
	 background-color:white;
	 border-radius:20px;
	 border:2px groove #666;
	 vertical-align:middle;
	 padding:0;
}
.uploadify-progress-bar{
	width:0;
	height:100%;
	border-radius:20px;
	background-color: #0099FF;
}


/* 兼容 Firefox */
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent; /* 对应 Tailwind 的 gray-400 */
}

/* 兼容 Chrome / Edge / Safari */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(156, 163, 175, 0.5); /* 稳妥的通用灰色 */
    border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: rgba(156, 163, 175, 0.8); /* hover 时加深 */
}