

{% extends "base.html" %}

{% block title %}Reader{% endblock %}

{% block content %}

<main>
  {% include 'header.html' %}

  <div class="container mx-auto px-4 py-4">
    <div class="overflow-x-auto">
      <table class="table table-zebra">
        <thead>
          <tr>
            <th>书名</th>
            <th class="text-right">操作</th>
          </tr>
        </thead>
        <tbody>
            {% for book in book_list %}
            <tr>
              <td>{{ book.title }}</td>
              <td class="text-right">
                <a class="btn btn-error btn-sm text-white" href="{% url 'reader:book_del' book.id %}">删除</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
    </div>
  </div>

</main>
{% endblock %}

{% block body-bottom %}

{% endblock %}
