<div class="list-group">
{% for c in chapter_list %}
<div >
    <form method="POST" action="{% url 'reader:book_view' %}">
        {% csrf_token %}
        <input  type="hidden" name="book_id" value="{{ c.book_id }}">
        <input  type="hidden" name="chapter_id" value="{{ c.id  }}">
        <button class="list-group-item{% if chapter_id == c.id %} active{% endif %}" type="submit" data-chapter-id="{{ c.id }}" style="width:90%">
            {{ c.title }}
        </button>
    
    </form>

</div>

{% endfor %}
</div>