<header class="bg-base-100 shadow-sm w-full mb-4">
  <div class="navbar container mx-auto px-4">
    <div role="tablist" class="tabs tabs-border flex-1 ">
      {% with request.resolver_match.url_name as url_name %}
      <a role="tab" href="{% url 'reader:book_list'%}" class="text-base tab {% if url_name == 'book_list' %} tab-active{% endif %}">书库</a>
      <a role="tab" href="{% url 'reader:book_list_remote'%}" class="text-base tab {% if url_name == 'book_list_remote' %} tab-active{% endif %}">远程书库</a>
      {% if request.user.is_authenticated %}
      <a role="tab" href="#" class="tab text-base ">进度</a>
      {% endif %}
      {% endwith %}

      <a role="tab" class="tab">Tab 1</a>
      <a role="tab" class="tab">Tab 3</a>
      {% if 'book_view' in request.resolver_match.url_name %}
        <a role="tab" class="text-base tab  tab-active">阅读中</a>
      {% endif %}

      {% if request.resolver_match.url_name == 'book_admin' %}
        <a role="tab" class="text-base tab tab-active">书籍管理</a>
      {% endif %}

    </div>
   
    
    <div class="flex gap-2">
      <input type="search" placeholder="Search" class="input input-bordered w-24 md:w-auto content-serarch" />
      
      {% if request.user.is_authenticated %}
      <div class="dropdown dropdown-end">
        <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
          <div class="w-10 rounded-full">
            <img src="https://i0.hdslb.com/bfs/face/member/noface.jpg@240w_240h_1c_1s.webp" alt="avatar" />
          </div>
        </div>
        <ul tabindex="-1" class="menu menu-md dropdown-content bg-base-100 rounded-box z-1 mt-3 w-56 p-2 shadow">
          <li><a href="{% url 'reader:book_admin' %}">书籍管理</a></li>
          <li><a href="/admin/">后台管理</a></li>
          <li><a href="{% url 'reader:logout' %}">Sign out</a></li>
        </ul>
      </div>
      {% else %}
      <button type="button" class="btn btn-primary" onclick="login_modal.showModal()">登录</button>

      <dialog id="login_modal" class="modal">
        <div class="modal-box">
          <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
          </form>
          <h3 class="text-lg font-bold mb-2">登录</h3>
          <form class="login_form" onsubmit="return false;">
            <p class="mb-3 text-sm text-base-content/60">请输入用户名和密码</p>
            {% csrf_token %}
            <input type="text" name="username" class="input input-bordered w-full mb-2" placeholder="用户名" required />
            <input type="password" name="password" class="input input-bordered w-full mb-4" placeholder="密码" required />
            <button class="btn btn-primary w-full login_btn" type="button">登录</button>
            <div class="login_msg mt-2 hidden"></div>
          </form>
        </div>
        <form method="dialog" class="modal-backdrop">
          <button>close</button>
        </form>
      </dialog>

      <script>
        $('.login_btn').click(e => {
          $.ajax({
            url: "{% url 'reader:login' %}",
            type: 'post',
            data: $('.login_form').serialize(),
            success: function (data) {
              if (data != 'success') {
                $('.login_msg').text(data).removeClass('hidden').addClass('alert alert-error');
              } else {
                location.reload();
              }
            }
          })
        })
      </script>
      {% endif %}
    </div>
    
  </div>
</header>